<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604182733491-pivacaq8jgo04q2f7ce8i573u7davu19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604182733491-pivacaq8jgo04q2f7ce8i573u7davu19</string>
	<key>API_KEY</key>
	<string>AIzaSyDg0hj-2-p5zdU2FE4UtDTpPX7mZoeJ0aM</string>
	<key>GCM_SENDER_ID</key>
	<string>604182733491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asaekKPP.kyariApp</string>
	<key>PROJECT_ID</key>
	<string>kyary-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kyary-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604182733491:ios:17bfcee8b7d92e447a06c6</string>
	<key>DATABASE_URL</key>
	<string>https://kyary-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>